a {
    text-decoration: none;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

img  {
    display: block;
    
}

.contact:hover, .contact:focus {
    color: #404bbf;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.contact {
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.studio {
    color: #f4f4fd;
}

span {
    color: #2e2f42;
}

nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigation {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation:hover, .navigation:focus {
    color: #404bbf;
}

address {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-style: normal;
    margin-left: auto;

}

.solutions {
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.solutions-text {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 48px;
}

.button-one {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-one:hover, .button-one:focus {
    background-color: #404BBF;
}

.advantages {
    padding: 120px 0;
}

.advantages-icons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    z-index: 1;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sub-headline {
    margin-bottom: 8px;
}

.list-advantages {
    display: flex;
    gap: 24px;
}

.list-advantages-points {
    width: calc((100% - 72px) / 4);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #000;
}

.headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.list-team {
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
}

.list-team-points {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-employee {
    padding: 32px 0;
}

.social-links-team {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 8px;

}

.icon-team {
    width: 40px;
    height: 40px;
}

.social-team {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team:hover, .social-team:focus {
    background-color: #404bbf;
}

.icon-link {
    fill: #f4f4fd;
}

.sub-headline {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.sub-headline-team {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-team {
text-align: center;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio {
padding-top: 120px;
padding-bottom: 120px;
}

.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.list-portfolio-items {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.list-portfolio-items:hover {
transform: translateY(0%);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-portfolio-items:hover .overflow-text {
    transform: translateY(0%);
}

.container-img {
    position: relative;
    overflow: hidden;
}

.overflow-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
    background-color: #4d5ae5;
}

.portfolio-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.sub-headline-items {
    margin-bottom: 8px;
}

.footer {
    background-color: #2e2f42;
}

.text-footer {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.header .container {
    display: flex;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
}

.div-navigation {
    display: flex;
    align-items: center;
}

.ul-navigation {
    display: flex;
    gap: 40px;
}

.ul-address {
    display: flex;
    gap: 40px;
}

.solutions {
    padding: 188px 0;
    max-width: 1440px;
}

.footer {
    padding: 100px 0;
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.div-footer {
    margin-right: 120px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.text-footer {
    max-width: 264px;
}

.studio-footer {
    color: #f4f4fd;
}

.footer-text-socials {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-socials {
    display: flex;
    gap: 16px;
}

.footer-social-icons {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
    background-color: #31d0aa;
}

.icon-footer {
    fill: #f4f4fd;
}